.logo {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 0;
}

.fill {
    visibility: hidden;
    display: block;
    width: 100%;
}

.navbar {
    position: sticky;
    z-index: 1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content:center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    height: 100vh;
    background-color: gray;
    border: solid;
    box-sizing: border-box;
    padding: 50px 0;
}

.wrapper {
    height: 100vh;
}

.champions {
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
}

.search {
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.cards::-webkit-scrollbar {
    width: 12px;
}
  
.cards::-webkit-scrollbar-track {
    background: grey;
}
  
.cards::-webkit-scrollbar-thumb {
    background: #555;
}
  
.cards::-webkit-scrollbar-thumb:hover {
    background: #444;
}