.name {
    overflow-wrap: break-word;
    display: flex;
    color: white;
    font-size: 20px;
    font-family: "Beaufort for LOL", serif;
    font-weight: 800;
    letter-spacing: 0.08em;
    background-color: rgb(6, 28, 37);
    text-transform: uppercase;
    font-style: italic;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.image {
    display: block;
}

.wrapper {
    width: min-content;
    height: min-content;
    position: relative;
}