.wrapper {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.input {
    width: inherit;
    height: 50px;
    font-size: 20px;
}

.dropDown {
    display: flex;
    gap: 10px;
}

.options {
    margin-left: 5%;
}

.sort {
    margin: 16px 0;
}